- name: Install Barman and Postgres Client (on Barman host)
  apt:
    name:
      - barman
      - barman-cli
      - postgresql-client
    state: present
    update_cache: yes
  when: inventory_hostname in groups['backup']

- name: Install Barman CLI (on Nodes)
  apt:
    name: barman-cli
    state: present
  when: inventory_hostname in groups['master'] or inventory_hostname in groups['slave']

- name: Create Barman DB User
  become_user: postgres
  postgresql_user:
    name: barman
    password: '{{ barman_password }}'
    role_attr_flags: SUPERUSER,REPLICATION
  when: inventory_hostname in groups['master']

- name: Generate SSH key for barman user
  user:
    name: barman
    generate_ssh_key: yes
    ssh_key_type: rsa
  when: inventory_hostname in groups['backup']

- name: Fetch Barman public key
  shell: cat /var/lib/barman/.ssh/id_rsa.pub
  register: barman_ssh_key
  changed_when: false
  when: inventory_hostname in groups['backup']

- name: Authorize Barman SSH key on Master
  authorized_key:
    user: postgres
    key: "{{ hostvars['barman']['barman_ssh_key']['stdout'] }}"
  when: inventory_hostname in groups['master']

- name: Copy .pgpass
  template:
    src: .pgpass.j2
    dest: /var/lib/barman/.pgpass
    owner: barman
    group: barman
    mode: '0600'
  when: inventory_hostname in groups['backup']

- name: Copy barman.conf
  template:
    src: barman.conf.j2
    dest: /etc/barman.conf
    owner: root
    group: root
    mode: '0644'
  when: inventory_hostname in groups['backup']

- name: Copy node1.conf
  template:
    src: node1.conf.j2
    dest: /etc/barman.d/node1.conf
    owner: barman
    group: barman
    mode: '0644'
  when: inventory_hostname in groups['backup']

- name: Accept Master host key on Barman
  become_user: barman
  shell: ssh-keyscan -H {{ master_ip }} >> ~/.ssh/known_hosts
  when: inventory_hostname in groups['backup']
  ignore_errors: yes
